
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body{
   font-family: "Francois One", sans-serif;
   font-weight: 400;
   background-image: url('../img/bg.png');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.nbr{
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid orange;
}

.logform img{
    width: 150px;
}

.logo img{
    width: 160px;
}

select{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    color: #ccc;
    border-radius: 4px;
    background: #fff;
}

.group{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.group i{
    color: gray;
}

.bi-bell-fill{
    font-size: 20px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 17px rgba(0,0,0,0.1);
    border: 1px solid #f7f7f7;
}

.bi-list{
    font-size: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 17px rgba(0,0,0,0.1);
    border: 1px solid #f7f7f7;
}

.group span{
    font-family: Sans-Serif;
}

.form{
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%; 
    padding: 20px;
    border: 2px solid #f7f7f7;
}

.inpput{
    margin-bottom: 20px;
}

.inp{
    display: flex;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 4px;
}

label{
    color: gray;
}

.inpgroup{
    background-color: #00529C;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.inp input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: gray;
}

input::placeholder{
    color: #ccc;
}

.kirim{
    width: 100%;
    padding: 9px;
    border: none;
    margin-top: 20px;
    background-color: #00529C;
    color: #fff;
    border-radius: 4px;
}

footer{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    font-family: normal;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    color: gray;
}